attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
dovpanda==0.0.4
gpuinfo==1.0.0a6
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
kiwisolver==1.1.0
lxml==4.6.5
matplotlib==3.1.1
numpy==1.17.1
pandas==0.25.1
parsel==1.5.2
Protego==0.1.15
psutil==5.6.5
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
queuelib==1.5.0
requests==2.22.0
scipy==1.3.1
Scrapy==1.8.0
seaborn==0.9.0
selenium==3.141.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.9.3
Twisted==19.7.0
urllib3==1.25.6
w3lib==1.21.0
zope.interface==4.6.0
